<div class="container mt-4">
  <h2>Employees List</h2>
  <div class="row mb-3 justify-content-end">
    <div class="col-md-6 col-sm-12">
      <!-- Search Form -->
      <div class="mb-3">
        <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Enter criteria">
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <button class="btn btn-primary" (click)="searchEmployees(0)">Search By Designation</button>
      <button class="btn btn-primary" (click)="searchEmployees(1)">Search By Department</button>
      <button class="btn btn-primary" (click)="searchEmployees(3)">Clear Filters</button>
    </div>
  </div>
  <!-- Add Employee Button and Search Form Side-by-Side -->
  <div class="row">
    <div class="col-md-6 col-sm-12 d-flex justify-content-start">
      <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
    </div>
  </div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <button class="btn btn-info" (click)="viewDetails(employee._id)">View</button>
          <button class="btn btn-warning" (click)="updateEmployee(employee._id)">Update</button>
          <button class="btn btn-danger" (click)="deleteEmployee(employee._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

